body {
  font-family: "Poppins", sans-serif;
  color: #555555;
}

h1, h2, h3, h4, h5, h6 {
  color: #000000;
}

a {
  color: #000000;
  text-decoration: none;
  transition: all 0.5s ease;
}

a:hover {
  color: #ed6500;
  text-decoration: none;
}

.link-two {
  color: #000000;
  transition: all 0.5s ease;
}

.link-two:hover {
  text-decoration: underline;
  color: #000000;
}

.link-one {
  color: #000000;
  transition: all 0.5s ease;
}
.link-one:hover {
  color: #000000;
  text-decoration: none;
}

.link-icon {
  color: #000000;
  font-weight: 500;
}

.link-icon span {
  font-size: 14px;
  padding-left: 4px;
  vertical-align: middle;
}

.link-a {
  text-decoration: none;
  color: #ffffff;
  text-decoration: none;
}

@media (min-width: 768px) {
  .link-a {
    font-size: 0.9rem;
  }
}

@media (min-width: 992px) {
  .link-a {
    font-size: 1rem;
  }
}

.link-a:hover {
  color: #ffffff;
  text-decoration: none;
}

.link-a span {
  font-size: 18px;
  vertical-align: middle;
  margin-left: 5px;
}

@media (min-width: 768px) {
  .link-a span {
    font-size: 1.5rem;
  }
}

@media (min-width: 992px) {
  .link-a span {
    font-size: 18px;
  }
}

.text-brand {
  color: #000000;
  font-size: 2rem;
  font-weight: 600;
}

@media (max-width: 767px) {
  .text-brand {
    font-size: 1.8rem;
  }
}

.color-a {
  text-decoration: none;
  color: #000000;
}

.color-b {
  color: #ed6500;
}

.color-d {
  color: #adadad;
}

.color-text-a {
  text-decoration: none;
  color: #555555;
}

.no-margin {
  margin: 0;
}


/* Bg Image */
.bg-image {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}


/* Space Padding */
.section-t8 {
  padding-top: 8rem;
  margin: 3rem 1.5rem;
}

@media (max-width: 767px) {
  .section-t8 {
    padding-top: 4rem;
  }
}

.section-t4 {
  padding-top: 4rem;
}

@media (max-width: 767px) {
  .section-t4 {
    padding-top: 2rem;
  }
}

.section-t3 {
  padding-top: 3rem;
}

@media (max-width: 767px) {
  .section-md-t3 {
    padding-top: 3rem;
  }
}

.section-b2 {
  padding-bottom: 2rem;
}

.section-tb85 {
  padding: 8rem 0 5rem 0;
}

@media (max-width: 767px) {
  .section-tb85 {
    padding: 4rem 0 2.5rem 0;
  }
}

/* Title */
.title-wrap {
  padding-bottom: 4rem;
}

.title-a {
  text-decoration: none;
  font-size: 2.6rem;
  font-weight: 600;
}

.title-box-d {
  padding-bottom: 1.8rem;
  margin-bottom: 1rem;
  position: relative;
}
.title-box-d .title-d {
  font-weight: 600;
  font-size: 2rem;
}
.title-box-d .title-d:after {
  content: "";
  position: absolute;
  width: 70px;
  height: 4px;
  background-color: #ed6500;
  bottom: 20px;
  left: 0;
}

/* Overlay */
.overlay-a {
  text-decoration: none;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 27%, rgba(0, 0, 0, 0.65) 90%);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0px;
  padding: 0;
  height: 100%;
  width: 100%;
}

.nav-arrow-a {
  text-decoration: none;
}
.nav-arrow-a .owl-arrow .owl-nav {
  font-size: 1.8rem;
  margin-top: -110px;
}
.nav-arrow-a .owl-arrow .owl-nav .owl-next {
  margin-left: 15px;
}

.nav-arrow-b .owl-arrow .owl-nav {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.2rem;
}

.nav-arrow-b .owl-arrow .owl-nav .owl-prev,
.nav-arrow-b .owl-arrow .owl-nav .owl-next {
  padding: 0.7rem 1.5rem !important;
  display: inline-block;
  transition: all 0.6s ease-in-out;
  color: #ffffff;
  background-color: #ed6500;
  opacity: 0.9;
}
.nav-arrow-b .owl-arrow .owl-nav .owl-prev.disabled,
.nav-arrow-b .owl-arrow .owl-nav .owl-next.disabled {
  transition: all 0.6s ease-in-out;
  color: #ffffff;
}
.nav-arrow-b .owl-arrow .owl-nav .owl-prev:hover,
.nav-arrow-b .owl-arrow .owl-nav .owl-next:hover {
  background-color: #ed6500;
}
.nav-arrow-b .owl-arrow .owl-nav .owl-next {
  margin-left: 0px;
}

/* Back to top button */
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #ed6500;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #ed6500;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/* Prelaoder */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #f2f2f2;
  border-top: 6px solid #ed6500;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Navbar */
@media (min-width: 768px) {
  .navbar {
    -webkit-box-shadow: 0 8px 6px -6px #c4c4c4;
    -moz-box-shadow: 0 8px 6px -6px #c4c4c4;
    box-shadow: 0 8px 6px -6px #c4c4c4;
  }
}

.navbar-brand {
  color: #000000;
}

/* Hero Section */
.intro {
  height: 100vh;
  position: relative;
  color: #ffffff;
}

.intro .swiper-pagination {
  bottom: 50px;
}

.intro .swiper-pagination .swiper-pagination-bullet {
  width: 18px;
  height: 10px;
  background-color: #ffffff;
  border-radius: 0;
  opacity: 1;
  transition: 0.3s;
}

.intro .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #ed6500;
  width: 36px;
}

.intro .intro-item {
  padding-top: 2rem;
}

.intro .carousel-item-a {
  position: relative;
  height: 100vh;
}

.intro .carousel-item-a.bg-image {
  background-attachment: scroll;
}

@media (min-width: 576px) {
  .intro {
    font-size: 3.5rem;
  }
}

@media (min-width: 768px) {
  .intro {
    font-size: 3.5rem;
  }
}

@media (min-width: 992px) {
  .intro {
    font-size: 4rem;
  }
}

.intro {
  font-size: 1.5rem;
  font-weight: 300;
}

@media (min-width: 768px) {
  .intro {
    font-size: 2.5rem;
  }
}

/* Intro Dog */
.intro-dog {
  padding: 2rem 0 3rem;
}

@media (max-width: 767px) {
  .intro-dog {
    padding-top: rem;
  }
}

.intro-dog .title-single-box {
  padding: 1rem 0 1rem 1rem;
}

.intro-dog .title-single-box {
  border-left: 3px solid #ed6500;
}

.intro-dog .title-single-box .title-single {
  font-weight: 600;
  font-size: 2.2rem;
}

@media (min-width: 768px) {
  .intro-dog .title-single-box .title-single {
    font-size: 2.1rem;
  }
}

@media (min-width: 992px) {
  .intro-dog .title-single-box .title-single {
    font-size: 2.5rem;
  }
}

/* Card General */
@media (max-width: 767px) {
.card-box-a,
.card-box-b,
.card-box-c,
.card-box-d {
    margin-bottom: 2.5rem;
  }
}

.card-box-a span,
.card-box-b span,
.card-box-c span,
.card-box-d span {
  line-height: 0;
}

@media (min-width: 768px) {
  .grid .card-box-a,
.grid .card-box-b,
.grid .card-box-c,
.grid .card-box-d {
    margin-bottom: 2.5rem;
  }
}

.card-box-a,
.card-box-b,
.card-box-d {
  position: relative;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-box-a .img-a,
.card-box-a .img-b,
.card-box-b .img-a,
.card-box-b .img-b {
  transition: 0.8s all ease-in-out;
}

@media (min-width: 768px) {
  .card-box-a:hover .img-a,
.card-box-a:hover .img-b,
.card-box-b:hover .img-a,
.card-box-b:hover .img-b {
    transform: scale(1.2);
  }
}

@media (min-width: 768px) {
  .card-box-a ,
.card-box-b  {
    font-size: 0.9rem;
  }
}

@media (min-width: 992px) {
  .card-box-a,
.card-box-b  {
    font-size: 1rem;
  }
}

.card-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.card-shadow {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.card-shadow:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 27%, rgba(0, 0, 0, 0.65) 90%);
}

/* DOG - CARD-A */
@media (min-width: 768px) {
  .card-box-a:hover .card-overlay-a-content {
    bottom: 60px;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .card-box-a:hover .card-overlay-a-content {
    bottom: 60px;
  }
}
@media (min-width: 768px) and (min-width: 992px) {
  .card-box-a:hover .card-overlay-a-content {
    bottom: 64px;
  }
}
@media (min-width: 768px) {
  .card-box-a:hover .card-body-a {
    padding-bottom: 1rem;
  }
}
@media (max-width: 767px) {
  .card-box-a .card-overlay-a-content {
    bottom: 65px;
  }
  .card-box-a .card-body-a {
    padding-bottom: 1rem;
  }
}

.card-overlay-a-content {
  transition: all 0.5s ease-in;
  position: absolute;
  width: 100%;
  bottom: 0px;
  z-index: 2;
}
@media (min-width: 768px) {
  .card-overlay-a-content {
    bottom: -20px;
  }
}
@media (min-width: 992px) {
  .card-overlay-a-content {
    bottom: 0px;
  }
}

.card-header-a {
  padding: 0 1rem;
}
.card-header-a .card-title-a {
  color: #ffffff;
  margin-bottom: 0;
  padding-bottom: 0.7rem;
}
@media (min-width: 768px) {
  .card-header-a .card-title-a {
    font-size: 1.3rem;
  }
}
@media (min-width: 992px) {
  .card-header-a .card-title-a {
    font-size: 2rem;
  }
}
.card-header-a .card-title-a a {
  color: #ffffff;
  text-decoration: none;
}

.card-body-a {
  z-index: 2;
  transition: all 0.5s ease-in;
  padding: 0rem 1rem 2rem 1rem;
}
.card-body-a {
  padding-bottom: 0.5rem;
}

.card-footer-a {
  width: 100%;
  position: absolute;
  z-index: 2;
  background-color: #ed6500;
}

.card-info {
  list-style: none;
  margin-bottom: 0;
  padding: 0.5rem 0;
}
.card-info .card-info-title {
  font-size: 1rem;
  color: #313131;
}
@media (min-width: 768px) {
  .card-info .card-info-title {
    font-size: 0.9rem;
  }
}
@media (min-width: 992px) {
  .card-info .card-info-title {
    font-size: 1rem;
  }
}
.card-info li span {
  color: #ffffff;
  font-size: 0.9rem;
}
@media (min-width: 768px) {
  .card-info li span {
    font-size: 0.8rem;
  }
}
@media (min-width: 992px) {
  .card-info li span {
    font-size: 1rem;
  }
}

/* Dog Grid */
.dog-grid .grid-option {
  text-align: right;
  margin-bottom: 2rem;
}
.dog-grid .grid-option .custom-select {
  border-radius: 0;
  width: 200px;
  border-color: #313131;
}
.dog-grid .grid-option .custom-select:hover, .dog-grid .grid-option .custom-select:active, .dog-grid .grid-option .custom-select:focus {
  border-color: #313131;
}
.dog-grid .grid-option .custom-select option {
  border-color: #313131;
}

.button {
  background-color: #ed6500;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 16px;
  margin: 30px 15px;
  cursor: pointer;
}

/* Footer */
footer {
  background: #f3f3f3;
  text-align: center;
  padding: 30px 0;
}

footer .credits {
  font-size: 14px;
}